{% extends 'users/base.html' %}

{% block body %}
<h1 class="text-2xl m-10">Change password</h1>



<div class="container py-5">


    <form method="POST" enctype="multipart/form-data" class="bg-white shadow-md m-10 w-3/5 rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">Title</label>
            <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10">{{ form.title }}</div>
        </div>
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">Image:</label>
            <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10">{{ form.image }}</div>
        </div>
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="">Caption</label>
            <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3  mr-10">{{ form.caption }}</div>
        </div>
    
        <button class="text-white bg-green-500 px-5 py-2 my-10" type="submit">Post</button>
    </form>    
</div>


{% endblock %}